missing.txt
.DS_Store
/grammar/*.pgf
*.gfo
_grph.dot
_grph.png
/GF/
/JPGF/
/PhraseDroid/
/gtest/
project.xcworkspace/
xcuserdata/
build/
*.pbxuser
*.perspective
*.perspectivev3
/tmp/
/report/main.aux
/report/main.log
/report/main.out
/report/main.pdf
/report/main.synctex.gz
/report/main.toc
/report/include/*.log
