<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autocompleteWords</key>
	<array/>
	<key>beginCommand</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>{-</string>
	<key>beginInstruction</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string>-}</string>
	<key>endInstruction</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>--</string>
	<key>firstString</key>
	<string>&quot;</string>
	<key>functionDefinition</key>
	<string></string>
	<key>keywords</key>
	<array>
		<string>Base</string>
		<string>Cons</string>
		<string>Float</string>
		<string>GF_LIB_PATH</string>
		<string>Int</string>
		<string>Integer</string>
		<string>Ints</string>
		<string>PType</string>
		<string>Predef</string>
		<string>Str</string>
		<string>String</string>
		<string>Type</string>
		<string>abstract</string>
		<string>case</string>
		<string>cat</string>
		<string>concrete</string>
		<string>data</string>
		<string>def</string>
		<string>flags</string>
		<string>fun</string>
		<string>in</string>
		<string>incomplete</string>
		<string>instance</string>
		<string>interface</string>
		<string>let</string>
		<string>lin</string>
		<string>lincat</string>
		<string>lindef</string>
		<string>lock_</string>
		<string>noexpand</string>
		<string>of</string>
		<string>open</string>
		<string>oper</string>
		<string>opt</string>
		<string>overload</string>
		<string>param</string>
		<string>pre</string>
		<string>printname</string>
		<string>resource</string>
		<string>startcat</string>
		<string>table</string>
		<string>variants</string>
		<string>where</string>
		<string>with</string>
		<string>|</string>
		<string>!</string>
		<string>{</string>
		<string>}</string>
		<string>**</string>
		<string>*</string>
		<string>++</string>
		<string>+</string>
		<string>--#</string>
		<string>-</string>
		<string>-&gt;</string>
		<string>.</string>
		<string>::=</string>
		<string>&lt;</string>
		<string>&gt;</string>
		<string>=&gt;</string>
		<string>?</string>
		<string>[</string>
		<string>]</string>
		<string>\</string>
		<string>\\</string>
		<string>_</string>
		<string>#</string>
	</array>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>removeFromFunction</key>
	<string></string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>secondString</key>
	<string></string>
</dict>
</plist>
